<th:block xmlns:th="http://www.thymeleaf.org">

	<meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Medusa Shop</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/admin.css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" href="/css/QuanTriSanXuat/production.css" th:href="@{/css/QuanTriSanXuat/production.css}">

</th:block>